<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.multi.sub_project_spring.Login.ILoginDAO">
	<resultMap type="com.multi.sub_project_spring.Login.LoginVO" id="memResult">
		<result property="memName" column="memName" />
		<result property="memId" column="memId" />
		<result property="memPw" column="memPw" />
		<result property="memNick" column="memNick" />
		<result property="memPhone" column="memPhone" />
		<result property="hobbyNo1" column="hobbyNo1" />
		<result property="hobbyNo2" column="hobbyNo2" />
		<result property="hobbyNo3" column="hobbyNo3" />
		<result property="gatJoinNo1" column="gatJoinNo1" />
		<result property="gatJoinNo2" column="gatJoinNo2" />
		<result property="gatJoinNo3" column="gatJoinNo3" />
		<result property="gatJoinNo4" column="gatJoinNo4" />
		<result property="gatJoinNo5" column="gatJoinNo5" />
		<result property="classJoin1" column="classJoin1" />
		<result property="classJoin2" column="classJoin2" />
		<result property="classJoin3" column="classJoin3" />
		<result property="classJoin4" column="classJoin4" />
		<result property="classJoin5" column="classJoin5" />
	</resultMap>
	
	<!-- 로그인 확인 -->
	<select id="loginCheck" resultMap="memResult" parameterType="hashmap">
		SELECT * FROM member WHERE memId=#{memId} AND memPw=#{memPw}
	</select>
	
 	<select id="listAllMember" resultMap="memResult">
 		SELECT * FROM member
 	</select>

	<select id="memInfo" resultMap="memResult">
		SELECT * FROM member WHERE memId=#{memId}
	</select>

</mapper>